// Imprted files

@use "../Styles/GMVL.scss" as *;

/* Styling */

body {
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Lexend Deca', sans-serif;
  min-height: 100vh;
  @include flex-centering;
  padding: 5em 0;
}

.parent {
  width: 375px;
  background-color: white;
  padding: 3em 1em;

  @include min-mq(800px) {
    width: 900px;
  }

  .cards {
    border-radius: 10px;
    overflow: hidden;

    @include min-mq(800px) {
      display: flex;
    }

    .card-1 {
      background-color: $main-sedans;

      a {
        color: $main-sedans;
      }
    }

    .card-2 {
      background-color: $main-suvs;

      a {
        color: $main-suvs;
      }
    }

    .card-3 {
      background-color: $main-luxury;

      a {
        color: $main-luxury;
      }
    }

    [class|="card"] {
      padding: 3em 2em;

      img {
        width: 50px;
      }

      .details {
        @include flex-column-gap(2em);
        margin-top: 2em;

        span {
          color: $header-button-bg;
          font-family: "Big Shoulders Display", cursive;
          transform: scaleY(1.2);
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 1.7rem;
        }

        p {
          color: $paragraph;
          font-size: 15px;
          line-height: 30px;
        }
      }

      a {
        background-color: $header-button-bg;
        border-radius: 100vh;
        padding: 1em 2em;
        width: max-content;
        letter-spacing: 2px;
        margin-top: 2em;
        text-decoration: none;
        display: block;
        transition-duration: .5s;

        @include min-mq(800px) {
          margin-top: 4em;
        }

        &:hover {
          background-color: transparent;
          outline: 1px solid white;
          color: white;
        }
      }
    }
  }
}